*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
body {
  background: url('/src/components/img/big-img.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}


.infos{
  display: flex;
  justify-content: center;
  margin: 5px 0px;
  flex-wrap: wrap;
}

.infos h5 {
  align-self: center;
}


.atualizacao h5, .atualizacao h3{
  margin: 15px 0px 0px 0px;
}


.col {
  margin: 5px;
}
.col h5 {
  font-weight: 650;
  font-size: larger;
  margin: 5px 0px;
}
.col h4 {
  padding: 10px;
  font-weight: 500;

}

.cidade, .local, .atualizacao, .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cidade h5, .cidade h3{
  margin: 5px;
}
.local, .col{
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 1px 2px 15px white;
}

.graph{
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
